
.AdminBody {
  grid-template-rows: auto 1fr;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    'navbar navbar'
    'sidebar main';
}

.AdminForm {
  max-width: 600px;
  margin: 0 auto;
  font-size: 0.875rem;

  & textarea {
    resize: none;
  }

  & fieldset {
    margin: 16px 0;
  }
}

.AdminForm h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 0 16px;
}

.AdminForm input[readonly] {
  @apply bg-zinc-200;

  &:hover {
    cursor: not-allowed;
  }
}
