

@media (600px <= width) and (600px <= height) {
  .DropdownCloseButton {
    display: none;
  }
}

@media (height < 600px) {
  .DropdownPopover {
    height: 80vh;
  }

  .DropdownItems {
    height: unset;
    flex-shrink: 1;
  }
}

@media (width < 600px) {
  .DropdownPopover {
    flex-direction: column;
    height: unset;
    max-height: 80vh;
  }

  .DropdownPane {
    min-height: 0;
  }

  .DropdownItems {
    height: unset;
    flex-shrink: 1;
  }
}

