
.TerpeneSelectorPopover {
  animation: 0.1s ease-in 0s dialogFadeIn;
}

@keyframes dialogFadeIn {
  from {
    margin-top: -10px;
    opacity: 0.5;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}

.TerpeneSelectorList {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (450px <= width) {
  .TerpeneSelectorList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (648px <= width < 956px) and (600px <= height) {
  .TerpeneSelectorList {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (956px <= width < 1264px) and (600px <= height) {
  .TerpeneSelectorList {
    grid-template-columns: repeat(3, 300px);
  }
}

@media (1264px <= width) and (600px <= height) {
  .TerpeneSelectorList {
    grid-template-columns: repeat(4, 300px);
  }
}
