.FilterPaneWrapper {
  opacity: 0.3;
  transform: translateY(-30%);
}

.FilterPaneWrapper[open] {
  opacity: 1;
  transform: translateY(0);
}

.App.pinMapPane > .FilterPaneWrapper {
  flex-basis: 0;
  flex-grow: 0;
  overflow-y: scroll;
}

.App.pinMapPane > .FilterPaneWrapper[open] {
  flex-basis: max-content;
  flex-grow: 1;
}
