.MapOverlayLayer img {
  max-width: none !important;
  max-height: none !important;
}
@media only screen and (max-width: 420px) {

  .mapPaneCont{
    left: 1.25rem;
    max-width: 90vw;
    max-height: 50vh;
  }
}

@media only screen and (max-width: 600px) {
  .mapPaneCont{
    left: 1.5rem;
    max-width: 90vw;
    max-height: 50vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mapPaneCont{
    left: 2.75rem;
    max-width: 90vw;
    max-height: 50vh;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mapPaneCont{
    left: 3.5rem;
    max-width: 90vw;
    max-height: 50vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {

} */

