
.CheckboxGroupItemBox {
  transition: 0.2s;

  &:focus:hover {
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000), 0 0 8px rgba(128, 128, 128, 0.8);
  }

  &:hover {
    box-shadow: 0 0 0 black, 0 0 8px rgba(128, 128, 128, 0.8);
  }
}

.ButtonCbGroupItem {
  margin-left: -1px;

  &:first-child {
    border-radius: 8px 0 0 8px;
    margin-left: 0;
  }

  &:last-child {
    border-radius: 0 8px 8px 0;
  }
}
