
@media (600px <= width) and (600px <= height) {
  .MultiDropdownCloseButton {
    display: none;
  }
}

@media (height < 600px) {
  .MultiDropdownPopover {
    height: 80vh;
  }

  .MultiDropdownItems {
    height: unset;
    flex-shrink: 1;
  }
}

@media (width < 600px) {
  .MultiDropdownPopover {
    flex-direction: column;
    height: unset;
    max-height: 80vh;
  }

  .MultiDropdownPane {
    min-height: 0;
  }

  .MultiDropdownSearchPane {
    border-top-width: 1px;
    border-left-width: 0;
    flex: 0 0 auto;
    height: 50vh;
  }

  .MultiDropdownItems {
    height: unset;
    flex-shrink: 1;
  }
}
