
.ProductListPane {
  border-top: 1px solid #ccc;
  flex: 1 1 400px;

  .App.pinMapPane > & {
    flex-basis: 0;
    overflow-y: scroll;
  }
}

.ProductList {
  display: grid;
  padding: 8px;
  flex-wrap: wrap;
  min-height: 0;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;

  &.full {
    grid-gap: 12px;

    @media (width < 500px) {
      & {
        grid-template-columns: 1fr;
      }
    }

    @media (500px <= width < 728px) {
      & {
        grid-template-columns: 1fr 1fr;
      }
    }

  }

  &.compact {
    grid-template-columns: repeat(auto-fit, 280px);

    @media (width < 400px) {
      & {
        grid-template-columns: 1fr;
      }
    }

    @media (400px <= width < 576px) {
      & {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}


.Product {
  padding: 8px;
  border: 1px solid #aaa;
  font-size: 15px;
  transition: 0.2s box-shadow;

  &.full {
    border-radius: 4px;
    box-shadow: 1px 1px 2px hsl(0 0% 0% / .4);
  }

  &.full:hover {
    box-shadow: 1px 1px 2px hsl(0 0% 0% / .4), 0px 0px 8px hsl(0 0% 0% / .3);
  }

  &.compact {
    margin: -1px -1px 0 0;
  }

  &.compact:hover {
    box-shadow: 0px 0px 8px hsl(0 0% 0% / .3);
  }
}

.ProductImageWrapper {
  position: relative;

  .Product.full > & {
    height: 250px;
  }

  .Product.compact > & {
    height: 100px;
  }
}

.ProductImage {
  margin: 0 auto;
  object-fit: contain;
}

.ProductTypeLabel {
  text-transform: uppercase;
  color: #777;
  font-weight: bold;
  font-size: 13px;
  line-height: 1;
}

.ProductHeader,
.ProductSubheader {
  display: flex;
  justify-content: space-between;
}

.ProductName {
  flex: 1 1;
  font-weight: bold;
}

.ProductVendor {
  font-size: 13px;
}

.ProductDistance {
  display: inline-block;
}

.ProductPricePerGram {
  font-size: 13px;
}

.ProductPills {
  display: flex;
  grid-gap: 4px;
  margin-bottom: 4px;
  flex-flow: row wrap;
}

.ProductAttributeList,
.ProductTerpList {
  border-top: 1px solid #aaa;
  padding: 4px 0;
}

.ProductAttributeList > dt {
  display: inline;
}

.ProductAttributeList > dd {
  display: inline;
}

.ProductAttributeList > dt:not(:first-child)::before {
  content: '\A';
  white-space: pre;
}

.ProductAttributeList > dt::after {
  content: ': ';
}

.ProductTerpList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ProductTerpItem {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.TerpTooltip {
  background: white;
  border: 1px solid #aaa;
  width: 300px;
}

@media (width < 316px) {
  .TerpTooltip {
    max-width: calc(100vw - 16px);
  }
}

.TerpTooltip .TerpSelectorItem {
  padding: 4px 8px 8px;
  border-top-width: 3px;
}
