
.FilterPane {
  grid-template-columns: 1fr 1fr;
  max-width: 976px;
}

@media (width < 616px) {
  .FilterPane {
    grid-template-columns: 1fr;
  }
}

.FilterPaneItem > .MultiDropdown {
  width: 163px;
}
