.TerpeneInput {
  display: grid;
  grid-template-columns: 240px 120px max-content;

  & > .FieldError {
    grid-column-end: -1;
  }
}

.TerpeneInputHeader {
  display: contents;
  font-weight: bold;
}

.TerpeneInputItem {
  display: contents;
  & > :nth-child(2) {
    margin-right: 16px;
  }
}
